<template>
    <h2>Create New User</h2>
    <form @submit.prevent="handleSubmit">
        <input type="hidden" name="_token" :value="csrf" />
        <section>
            <label for="name">Name</label><br /><input
                id="name"
                type="text"
                v-model="formData.name"
            />
            <div v-if="errors && errors.name">{{ errors.name[0] }}</div>
        </section>
        <section>
            <label for="email">Email</label><br /><input
                id="email"
                type="email"
                v-model="formData.email"
            />
            <div v-if="errors && errors.email">{{ errors.email[0] }}</div>
        </section>
        <section>
            <label for="password">Password</label><br /><input
                id="password"
                type="password"
                v-model="formData.password"
            />
            <div v-if="errors && errors.password">{{ errors.password[0] }}</div>
        </section>
        <section>
            <label for="password_confirmation">Confirm Password</label
            ><br /><input
                id="password_confirmation"
                type="password"
                v-model="formData.password_confirmation"
            />
        </section>
        <button>Create New User</button>
    </form>
</template>

<script>
import Broswer from "../../helpers/ReloadPage";
import UserData from "../../helpers/InitalizeUserData";

export default {
    data() {
        return UserData.initialState();
    },
    methods: {
        handleSubmit() {
            axios
                .post("./api/users", this.formData)
                .then((response) => {
                    console.log(response.data);
                    Object.assign(this.$data, UserData.initialState());
                    Broswer.reload();
                })
                .catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                });
        },
    },
};
</script>
