<template>
    <h2>Show User</h2>
    <form @submit.prevent="handleSubmit">
        <input type="hidden" name="_token" :value="csrf" />
        <section>
            <label for="findUser">Find User by id</label><br /><input
                id="findUser"
                type="number"
                v-model="findUserById"
                required
            />
        </section>
        <button>Find</button>
    </form>
    <h3>User with that ID is</h3>
    {{ user }}
</template>

<script>
export default {
    data() {
        return {
            findUserById: "",
            user: "",
        };
    },
    methods: {
        handleSubmit() {
            if (this.findUserById) {
                axios
                    .get(`/api/users/${this.findUserById}`)
                    .then((response) => {
                        this.user = response.data.data.name;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
    },
};
</script>

<style></style>
