<template>
    <h2>Edit User</h2>
    <form @submit.prevent="handleSubmit">
        <input type="hidden" name="_token" :value="csrf" />
        <section>
            <label for="name">Name</label><br /><input
                id="name"
                type="text"
                v-model="formData.name"
            />
            <div v-if="errors && errors.name">{{ errors.name[0] }}</div>
        </section>
        <section>
            <label for="email">Email</label><br /><input
                id="email"
                type="email"
                v-model="formData.email"
            />
            <div v-if="errors && errors.email">{{ errors.email[0] }}</div>
        </section>
        <section>
            <label for="password">Password</label><br /><input
                id="password"
                type="password"
                v-model="formData.password"
            />
            <div v-if="errorPassword">{{ errorPassword }}</div>
        </section>
        <button>Update</button>
    </form>
</template>

<script>
import Broswer from "../../helpers/ReloadPage";
import UserData from "../../helpers/InitalizeUserData";

export default {
    props: ["userId"],

    data() {
        return UserData.initialState();
    },
    mounted() {
        this.loadUser();
    },
    methods: {
        handleSubmit() {
            axios
                .put(`/api/users/${this.id}`, this.formData)
                .then((response) => {
                    Object.assign(this.$data, UserData.initialState());
                    console.log(response.data.message);
                    Broswer.reload();
                })
                .catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                });
        },
        loadUser: function () {
            axios
                .get(`/api/users/${this.userId}`)
                .then((response) => {
                    this.formData.name = response.data.data.name;
                    this.formData.email = response.data.data.email;
                    this.id = response.data.data.id;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
    },
};
</script>

<style></style>
