<template>
    <div>
        <h2>User List</h2>


        <input type="search" placeholder="search" v-model="query.search">
        <select v-model="query.limit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
                <table border="1">
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr v-for="(user,index) in users" :key="user.id">
                        <td>{{index+1}}</td>
                        <td>  {{ user.name }}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button @click="showEditPage(user.id)">Edit</button>
                            <button @click="deleteUser(user.id)">delete</button>
                            <user-edit v-if="showEdit===user.id" :user-id="user.id" />
                        </td>

                    </tr>

                </table>





    </div>
</template>

<script>
import UserEdit from "./Edit.vue";
import Broswer from "../../helpers/ReloadPage";

export default {
    components: {
        UserEdit,
    },
    data: function () {
        return {
            users: [],
            query:{
                search:"",
                limit:5,
            },
            showEdit:'',

            apiUrl:""
        };
    },
    mounted() {
        this.loadUsers();
    },
    methods: {
        loadUsers: function () {
            axios
                .get("/api/users",{
                    params:this.query
                })
                .then((response) => {
                    this.users = response.data.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteUser: (id) => {
            axios
                .delete(`/api/users/${id}`)
                .then((response) => {
                    console.log(response);
                     Broswer.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        showEditPage: function (id) {
            this.showEdit = id;
        },

    },
    watch:{
        query:{handler(){
                this.loadUsers();
            },deep:true}
    }
    // watch: {
    //     search: function(){
    //         if(this.limit !== ''){
    //             this.apiUrl=`?search=${this.search}&limit=${this.limit}`;
    //         }
    //         else{
    //             this.apiUrl=`?search=${this.search}`;
    //         }
    //         this.loadUsers();
    //     },
    //     limit: function(){
    //         if(this.search !== '') {
    //             this.apiUrl=`?limit=${this.limit}&search=${this.search}`;
    //         }
    //         else{
    //             this.apiUrl=`?limit=${this.limit}`;
    //         }
    //
    //         this.loadUsers();
    //     }
    // },
    // computed:{
    //     filterUsers: function(){
    //         this.apiUrl =`?search=${this.search}&limit=${this.limit}`;
    //     }
    // }
};
</script>

<style></style>
