<template>
    <user-index />
    <user-create />
    <user-display />
</template>

<script>
import UserIndex from "./User/Index.vue";
import UserCreate from "./User/Create.vue";
import UserDisplay from "./User/Display.vue";

export default {
    props:['indexRoute'],
    components: {
        UserIndex,
        UserCreate,
        UserDisplay,
    },
};
</script>

<style></style>
