<template>
    <div>
        <h2>User List: {{ urlname }}</h2>


        <input type="search" placeholder="search" v-model="query.search">
        <select v-model="query.limit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <table border="1">
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr v-for="(user,index) in users" :key="user.id">
                <td>{{ index + 1 }}</td>
                <td> {{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button @click="showEditPage(user.id)">Edit</button>
                    <button @click="deleteUser(user.id)">delete</button>
                    <user-edit v-if="showEdit===user.id" :user-id="user.id"/>
                </td>

            </tr>

        </table>


    </div>
</template>

<script>
import UserEdit from "../User/Edit.vue";
import Broswer from "../../helpers/ReloadPage";

export default {
    props: {
        urlname: {
            type: String,
            required: true,
        }
    },
    components: {
        UserEdit,
    },
    data: function () {
        return {
            users: [],
            query: {
                search: "",
                limit: 5,
            },
            showEdit: '',
            apiUrl: ""
        };
    },
    mounted() {
        this.loadUsers();
    },
    methods: {
        loadUsers: function () {
            axios
                .get(this.urlname, {
                    params: this.query
                })
                .then((response) => {
                    this.users = response.data.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteUser: function (id) {
            axios
                .delete(this.urlname + "/" + id)
                .then((response) => {
                    console.log(response);
                    Broswer.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        showEditPage: function (id) {
            this.showEdit = id;
        },

    },
    watch: {
        query: {
            handler() {
                this.loadUsers();
            }, deep: true
        }
    }
};
</script>

<style scoped></style>
